vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Aug 2004 12:57:10 -0000
vti_author:SR|CRYSTALTECH\\ghcom
vti_modifiedby:SR|CRYSTALTECH\\ghcom
vti_nexttolasttimemodified:TR|20 Aug 2004 12:57:10 -0000
vti_timecreated:TR|16 Nov 2005 16:33:22 -0000
vti_extenderversion:SR|5.0.2.6738
vti_cacheddtm:TX|16 Nov 2005 16:33:22 -0000
vti_filesize:IR|1158
vti_lineageid:SR|{E6D5A839-962E-43D0-8969-90EDF3EDDBFA}
vti_backlinkinfo:VX|
