vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Aug 2004 12:57:10 -0000
vti_author:SR|CRYSTALTECH\\ghcom
vti_modifiedby:SR|CRYSTALTECH\\ghcom
vti_nexttolasttimemodified:TR|20 Aug 2004 12:57:10 -0000
vti_timecreated:TR|16 Nov 2005 16:33:22 -0000
vti_extenderversion:SR|5.0.2.6738
vti_cacheddtm:TX|16 Nov 2005 16:33:22 -0000
vti_filesize:IR|1169
vti_lineageid:SR|{D23DE75A-6460-4CD0-A25C-27E9C60FE5F1}
vti_backlinkinfo:VX|
