vti_encoding:SR|utf8-nl
vti_author:SR|CRYSTALTECH\\ghcom
vti_modifiedby:SR|CRYSTALTECH\\ghcom
vti_timelastmodified:TR|20 Dec 2005 19:49:51 -0000
vti_timecreated:TR|20 Dec 2005 19:49:51 -0000
vti_cacheddtm:TX|20 Dec 2005 19:49:51 -0000
vti_filesize:IR|1112
vti_extenderversion:SR|5.0.2.6738
vti_lineageid:SR|{FAC00C98-0952-43A9-88CF-4487C65D6577}
vti_backlinkinfo:VX|
