vti_encoding:SR|utf8-nl
vti_author:SR|CRYSTALTECH\\ghcom
vti_modifiedby:SR|CRYSTALTECH\\ghcom
vti_timelastmodified:TR|20 Dec 2005 19:49:51 -0000
vti_timecreated:TR|20 Dec 2005 19:49:51 -0000
vti_cacheddtm:TX|20 Dec 2005 19:49:51 -0000
vti_filesize:IR|5150
vti_cachedlinkinfo:VX|S|spiband.gif S|spinavhd.gif S|spinavhs.gif S|spihomd.gif S|spinxtd.gif S|spipred.gif S|spiupd.gif S|spiglobd.gif S|spinavvd.gif S|spinavvs.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/spiral/spiband.gif FSUS|_themes/spiral/spinavhd.gif FSUS|_themes/spiral/spinavhs.gif FSUS|_themes/spiral/spihomd.gif FSUS|_themes/spiral/spinxtd.gif FSUS|_themes/spiral/spipred.gif FSUS|_themes/spiral/spiupd.gif FSUS|_themes/spiral/spiglobd.gif FSUS|_themes/spiral/spinavvd.gif FSUS|_themes/spiral/spinavvs.gif
vti_extenderversion:SR|5.0.2.6738
vti_lineageid:SR|{05DC805F-05AD-4E09-A76A-6687C8CA829F}
vti_backlinkinfo:VX|
