vti_encoding:SR|utf8-nl
vti_author:SR|CRYSTALTECH\\ghcom
vti_modifiedby:SR|CRYSTALTECH\\ghcom
vti_timelastmodified:TR|20 Dec 2005 19:49:51 -0000
vti_timecreated:TR|20 Dec 2005 19:49:51 -0000
vti_cacheddtm:TX|20 Dec 2005 19:49:51 -0000
vti_filesize:IR|1462
vti_cachedlinkinfo:VX|S|spiband.gif S|spiruled.gif S|spibul1d.gif S|spibul2d.gif S|spibul3d.gif S|spinavhs.gif S|spinavhd.gif S|spinavvs.gif S|spinavvd.gif S|spihomd.gif S|spiupd.gif S|spipred.gif S|spinxtd.gif S|spibul1d.gif S|spibul2d.gif S|spibul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/spiral/spiband.gif FSUS|_themes/spiral/spiruled.gif FSUS|_themes/spiral/spibul1d.gif FSUS|_themes/spiral/spibul2d.gif FSUS|_themes/spiral/spibul3d.gif FSUS|_themes/spiral/spinavhs.gif FSUS|_themes/spiral/spinavhd.gif FSUS|_themes/spiral/spinavvs.gif FSUS|_themes/spiral/spinavvd.gif FSUS|_themes/spiral/spihomd.gif FSUS|_themes/spiral/spiupd.gif FSUS|_themes/spiral/spipred.gif FSUS|_themes/spiral/spinxtd.gif FSUS|_themes/spiral/spibul1d.gif FSUS|_themes/spiral/spibul2d.gif FSUS|_themes/spiral/spibul3d.gif
vti_extenderversion:SR|5.0.2.6738
vti_lineageid:SR|{5FD8A13E-4B08-491E-9445-9D58A96A9A3E}
vti_backlinkinfo:VX|
